<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <context-param>
 	<param-name>validPeriod</param-name>
  	<param-value>60000000</param-value>
 </context-param>
 <context-param>
    <param-name>pathAsymKeys</param-name>
    <param-value>RSAkeys/CAkeys</param-value>
 </context-param>
 <context-param>
    <param-name>CAName</param-name>
    <param-value>Certificate-Authority</param-value>
 </context-param>
 <listener>
  <description>Starts fenix framework upon webapp deployment.</description>
  <listener-class>cacert.application.ApplicationInitListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>cacert</servlet-name>
  <servlet-class>cacert.application.ApplicationWebService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>cacert</servlet-name>
  <url-pattern>/CacertApplicationServer</url-pattern>
 </servlet-mapping>
</web-app>